@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>PANEL DE ADMINISTRACION</h2>

<div class="grid-container">
    <a class="main-buttons" href="/MPacientes" class="text-decoration-none" >
        <div class="text-center">
        <img src="~/assets/paciente.png" alt="" width="150" height="150">
        <p class="text-center">Administrar Pacientes</p>
    </div>
    </a>


    <a class="main-buttons" href="/MMedicos" class="text-decoration-none">
        <div class="text-center">
        <img src="~/assets/medico.png" alt="" width="150" height="150">
        <p class="text-center">Administrar Medicos</p>
    </div>
    </a>

    <a class="main-buttons" href="/MFamiliares" class="text-decoration-none">
        <div class="text-center">
        <img src="~/assets/familiares.png" alt="" width="150" height="150">
        <p class="text-center">Administrar Familiares</p>
    </div>
    </a>

    <a class="main-buttons" href="#" class="text-decoration-none">
        <div class="text-center">
        <img src="~/assets/historia.png" alt="" width="150" height="150">
        <p class="text-center">Administrar Historias</p>
    </div>
    </a>

    <a class="main-buttons" href="#" class="text-decoration-none">
        <div class="text-center">
        <img src="~/assets/asignar_medico.png" alt="" width="150" height="150">
        <p class="text-center">Asignar Medico</p>
    </div>
    </a>

    <a class="main-buttons" href="#" class="text-decoration-none" >
        <div class="text-center">
        <img src="~/assets/asginar_familiar.png" alt="" width="150" height="150">
        <p class="text-center">Asignar Famiiares</p>
    </div>
    </a>

    <a class="main-buttons" href="#" class="text-decoration-none">
        <div class="text-center">
        <img src="~/assets/asginar_historia.png" alt="" width="150" height="150">
        <p class="text-center">Asignar Historia</p>
    </div>
    </a>

</div>

